{% extends "base_general.html" %}

{%block content%}

{% load static %}

<div class= "titulo">
    <img src="{%static 'images/icon_form_instruc_eva.svg' %}">
    <h1>Formación / Instrucción / Evaluación</h1>
</div>
<div class="subtitulo">
    <h2 style="text-transform:uppercase">Aprendizaje centrado en el estudiante</h2>
    <a href="/database/aprendizaje-centrado/new"><img src="{%static 'images/crear_datos.svg'%}" alt="Crear datos"></a>
</div>


<table >
    <thead>
        <tr>
            <th>Numeral</th>
            <th>Departamento Responsable</th>
            <th>Persona Responsable</th>
            <th>Fecha límite</th>
            <th>Fecha de auditoria interna</th>
            <th>Comentarios Auditoria Interna</th>
            <th>Fecha de auditoria externa</th>
            <th>Comentarios Auditoria Externa</th>
            <th>Enlaces</th>
        </tr>
    </thead>
    <tbody>
        
        {% for aprendizajecentrado in aprendizaje_centrado_list %}
    <tr>
        <td>{{ aprendizajecentrado.numeral }}</h1>
        <td>{{aprendizajecentrado.dep_responsable}}</p>
        <td>{{aprendizajecentrado.person_responsable}}</p>
        <td>{{aprendizajecentrado.track_date}}</p>
        <td>{{aprendizajecentrado.internal_auditory_date}}</p>
        <td>{{aprendizajecentrado.internal_auditory_obs}}</p>
        <td>{{aprendizajecentrado.external_auditory_date}}</p>
        <td>{{aprendizajecentrado.external_auditory_obs}}</p>
        <td><a href="{{aprendizajecentrado.evidence}}" traget="_blank">{{aprendizajecentrado.evidence}}</a></td>

    </tr>
    {% empty %}
    <tr>
        <td colstran="9">No hay registros.</td>
    </tr>
    {% endfor %}
    
    </tbody>
</table>


{%endblock content%}