{% extends "base_general.html" %}

{% block content %}
{% load static %}

<div class= "titulo">
    <img src="{%static 'images/icon_form_instruc_eva.svg' %}">
    <h1>Formación / Instrucción / Evaluación</h1>
</div>
<div class="subtitulo">
    <h2 style="text-transform:uppercase">3200-APRENDIZAJE RIGUROSO</h2>
    <a href="/database/aprendizajeriguroso/new"><img src="{%static 'images/crear_datos.svg'%}" alt="Crear datos"></a>
</div>
 
    <table>
       <thead>
          <tr>
              <th>Codigo</th>
              <th>Numeral</th>
              <th>Departamento Responsable</th>
              <th>Persona Responsable</th>
              <th>Fecha límite de seguimiento</th>
              <th>Fecha de auditoria interna</th>
              <th>Comentarios Auditoria Interna</th>
              <th>Fecha de auditoria externa</th>
              <th>Comentarios Auditoria Externa</th>
              <th>Enlaces</th>
          </tr>
       </thead>
       <tbody>
           {% for aprendizajeriguroso in AprendizajeRiguroso_List %}
      <tr>
        <td>{{aprendizajeriguroso.codigo}}</td>
        <td> {{aprendizajeriguroso.numeral }}</td>
        <td> {{aprendizajeriguroso.dep_responsable}}</td>
        <td>{{aprendizajeriguroso.person_responsable}}</td>
        <td>{{aprendizajeriguroso.track_date}}</td>
        <td>{{aprendizajeriguroso.internal_auditory_date}}</td>
        <td>{{aprendizajeriguroso.internal_auditory_obs}}</td>
        <td>{{aprendizajeriguroso.external_auditory_date}}</td>
        <td>{{aprendizajeriguroso.external_auditory_obs}}</td>
        <td><a href="{{ aprendizajeriguroso.evidence }}" target="_blank">{{ aprendizajeriguroso.evidence }}</a></td>
  |   </tr>
  {% empty %}
  <tr>
      <td colstran="9">No hay numerales.</td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}