{% extends "base_general.html" %}

{% block content %}

<h1 style="text-transform:uppercase">Elección de carrera</h1>

<table>
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Numeral</th>
            <th>Departamento Responsable</th>
            <th>Persona Responsable</th>
            <th>Año</th>
            <th>Fecha límite</th>
            <th>Fecha de auditoria interna</th>
            <th>Comentarios Auditoria Interna</th>
            <th>Fecha de auditoria externa</th>
            <th>Comentarios Auditoria Externa</th>
            <th>Enlaces</th>
        </tr>
    </thead>
    <tbody>
        {% for eleccioncarrera in eleccion_carrera_list %}
    <tr>
        <td>{{ eleccioncarrera.numeral }}</h1>
        <td>{{eleccioncarrera.dep_responsable}}</p>
        <td>{{eleccioncarrera.person_responsable}}</p>
        <td>{{eleccioncarrera.track_year}}</p>
        <td>{{eleccioncarrera.track_date}}</p>
        <td>{{eleccioncarrera.internal_auditory_date}}</p>
        <td>{{eleccioncarrera.internal_auditory_obs}}</p>
        <td>{{eleccioncarrera.external_auditory_date}}</p>
        <td>{{eleccioncarrera.external_auditory_obs}}</p>
        <td><a>{{eleccioncarrera.evidence}}</a></td>

    </tr>
    {% empty %}
    <tr>
        <td colstran="9">No hay registros.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}