{% extends "base_general.html" %}

{%block content%}

<h1 style="text-transform:uppercase">3000 - Formación / Instrucción / Evaluación</h1>

<p>Selecciona un subcriterio para continuar:</p>

<section class= "lista">
<ul>
        <li><a href="{%url 'aprendizaje_centrado_list'%}">3100-APRENDIZAJE CENTRADO EN EL ESTUDIANTE</a></li>
        <li><a href="{%url 'AprendizajeRiguroso_List'%}">3200-APRENDIZAJE RIGUROSO</a></li>
        <li><a href="{%url 'PlaneacionyCreaciondeActividades_List'%}">3300-PLANEACIÓN Y CREACIÓN DE ACTIVIDADES</a></li>
        <li><a href="">3400-EDUCACIÓN STEM INTEGRADA</a></li>
        <li><a href="">3500-TECNOLOGÍA PARA LA FORMACIÓN / INSTRUCCIÓN</a></li>
        <li><a href="{%url 'EstrategiasFormativas_List'%}">3600-ESTRATEGIAS FORMATIVAS</a></li>
        <li><a href="">3700-ELECCIÓN DE CARRERA</a></li>
        <li><a href="{%url 'AprendizajeExtendido_List'%}">3800-APRENDIZAJE EXTENDIDO</a></li>
        <li><a href="">3900-SOSTENIBILIDAD - FORMACIÓN/INSTRUCCIÓN/EVALUACIÓN</a></li>
        <li><a href="{%url 'aprendizaje_centrado_list'%}">APRENDIZAJE CENTRADO EN EL ESTUDIANTE</a></li>
        <li><a href="">APRENDIZAJE RIGUROSO</a></li>
        <li><a href="">PLANEACIÓN Y CREACIÓN DE ACTIVIDADES</a></li>
        <li><a href="{%url 'educacion_stem_integrada_list'%}">EDUCACION STEM INTEGRADA</a></li>
        <li><a href="{%url 'tecnologia_para_Formacion_list'%}">TECNOLOGÍA PARA LA FORMACIÓN / INSTRUCCIÓN</a></li>
        <li><a href="">ESTRATEGIAS FORMATIVAS</a></li>
        <li><a href="{%url 'eleccion_carrera_list'%}">ELECCIÓN DE CARRERA</a></li>
        <li><a href="">APRENDIZAJE EXTENDIDO</a></li>
        <li><a href="">SOSTENIBILIDAD - FORMACIÓN / INSTRUCCIÓN / EVALUACIÓN</a></li>
        <li><a href="{%url 'sostenibilidad_list'%}">SOSTENIBILIDAD - FORMACIÓN / INSTRUCCIÓN / EVALUACIÓN</a></li>
</ul>

</section>

{%endblock content%}