{% extends "base_general.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">

<body>
    <div class="fondo">
<div class= "margen-contenedor"><div class= "titulo">
    <img src="{%static 'images/tabla_detail/icon_for_instrucc_eva.svg' %}">
    <h1 style="text-transform:uppercase">3000 - Formación / Instrucción / Evaluación</h1>
</div>
<div class="subtitulo">
    <div class="titulo-texto">
        <h2 style="text-transform:uppercase">3300-PLANEACIÓN Y CREACIÓN DE ACTIVIDADES</h2>
    </div>
    <div class= "imagen-crear-datos">
        <a href="/database/planeacionycreaciondeactividades/new"><img src="{%static 'images/crear_datos.svg'%}" alt="Crear datos"></a>
    </div>
</div>
<div class="tabla-contenedor">
    <div class="tabla-scroll">
    <table class="celdas">
        <thead>
            <tr>
                <th>Código</th>
                <th>Numeral</th>
                <th>Prioridad</th>
                <th>Departamento Responsable</th>
                <th>Persona Responsable</th>
                <th>Fecha límite de seguimiento</th>
                <th>Fecha de auditoria interna</th>
                <th>Comentarios Auditoria Interna</th>
                <th>Fecha de auditoria externa</th>
                <th>Comentarios Auditoria Externa</th>
                <th>Enlaces</th>
            </tr>
        </thead>
        <tbody>
            {% for planeacionycreaciondeactividades in PlaneacionyCreaciondeActividades_List %}
            <tr>
                <td>{{planeacionycreaciondeactividades.codigo}}</td>
                <td> {{planeacionycreaciondeactividades.numeral }}</td>
                <td>{{planeacionycreaciondeactividades.priority}}</td>
                <td> {{planeacionycreaciondeactividades.dep_responsable}}</td>
                <td>{{planeacionycreaciondeactividades.person_responsable}}</td>
                <td>{{planeacionycreaciondeactividades.track_date}}</td>
                <td>{{planeacionycreaciondeactividades.internal_auditory_date}}</td>
                <td>{{planeacionycreaciondeactividades.internal_auditory_obs}}</td>
                <td>{{planeacionycreaciondeactividades.external_auditory_date}}</td>
                <td>{{planeacionycreaciondeactividades.external_auditory_obs}}</td>
                <td><a href="{{ planeacionycreaciondeactividades.evidence }}" target="_blank">{{planeacionycreaciondeactividades.evidence }}</a></td>
            </tr>
        {% empty %}
        <tr>
            <td colstran="9">No hay registros.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
</div>
</body>

{% endblock %}