{% extends "base_general.html" %}

{% block content %}
{% load static %}

<div class= "titulo">
    <img src="{%static 'images/icon_form_instruc_eva.svg' %}">
    <h1 style="text-transform:uppercase">3000 - Formación / Instrucción / Evaluación</h1>
</div>
<div class="subtitulo">
    <h2 style="text-transform:uppercase">3300-PLANEACION Y CREACIÓN DE ACTIVIDADES</h2>
    <a href="/database/planeacionycreaciondeactividades/new"><img src="{%static 'images/crear_datos.svg'%}" alt="Crear datos"></a>
</div>
    <table>
       <thead>
          <tr>
              <th>Código</th>
              <th>Numeral</th>
              <th>Departamento Responsable</th>
              <th>Persona Responsable</th>
              <th>Fecha límite de seguimiento</th>
              <th>Fecha de auditoria interna</th>
              <th>Comentarios Auditoria Interna</th>
              <th>Fecha de auditoria externa</th>
              <th>Comentarios Auditoria Externa</th>
              <th>Enlaces</th>
          </tr>
       </thead>
       <tbody>
           {% for planeacionycreaciondeactividades in PlaneacionyCreaciondeActividades_List %}
      <tr>
        <td>{{planeacionycreaciondeactividades.codigo}}</td>
        <td> {{planeacionycreaciondeactividades.numeral }}</td>
        <td> {{planeacionycreaciondeactividades.dep_responsable}}</td>
        <td>{{planeacionycreaciondeactividades.person_responsable}}</td>
        <td>{{planeacionycreaciondeactividades.track_date}}</td>
        <td>{{planeacionycreaciondeactividades.internal_auditory_date}}</td>
        <td>{{planeacionycreaciondeactividades.internal_auditory_obs}}</td>
        <td>{{planeacionycreaciondeactividades.external_auditory_date}}</td>
        <td>{{planeacionycreaciondeactividades.external_auditory_obs}}</td>
        <td><a href="{{ planeacionycreaciondeactividades.evidence }}" target="_blank">{{planeacionycreaciondeactividades.evidence }}</a></td>

  |   </tr>
  {% empty %}
  <tr>
      <td colstran="9">No hay registros.</td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}