<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CONASTEM</title>

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="icon" href="{% static 'images/icons/LogoIcon.svg' %}" type="image/x-con">
    <link rel="stylesheet" href="{% static 'styles/base_general.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Inter" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Questrial" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <header>
      {% block sidebar %}
        <div class="container">
          <div class="container-logo">
            <img class="logo" src="{% static 'images/Logo_conastem.svg' %}" alt="Logo_CONASTEM" />
          </div>
          <div id="menu">
            <a href="{% url 'criterio_list' %}">
              <div id="item-hover">
                <div class="container-item">
                  <div class="container-icon">
                    <img id="icon" src="{% static 'images/icons/IconHome.svg' %}" alt="Ícono Infraestructura"/>
                  </div>
                </div>
                <div class="text">Inicio</div>
              </div>
            </a>
            <a href="{% url 'Infraestructura' %}">
              <div id="item-hover">
                <div class="container-item">
                  <div class="container-icon">
                    <img id="icon" src="{% static 'images/icons/IconBuilding.svg' %}" alt="Ícono Infraestructura" />
                  </div>
                </div>
                <div class="text"><b>1000</b> Infraestructura</div>
              </div>
            </a>
            <a href="{% url 'Curriculo_list' %}">
              <div id="item-hover">
                <div class="container-item">
                  <div class="container-icon">
                    <img id="icon" src="{% static 'images/icons/IconDoc.svg' %}" alt="Ícono Currículo" />
                  </div>
                </div>
                <div class="text"><b>2000</b> Currículo</div>
              </div>
            </a>
            <a href="{% url 'FormacionInstruccionEvaluacion' %}">
              <div id="item-hover">
                <div class="container-item">
                  <div class="container-icon">
                    <img id="icon" src="{% static 'images/icons/IconGraph.svg' %}" alt="Ícono Formación/ Instrucción/ Evaluación" />
                  </div>
                </div>
                <div class="text"><b>3000</b> Formación, Instrucción, Evaluación</div>
              </div>
            </a>
            <a href="{% url 'PersonalDocenteyAdministrativo' %}">
              <div id="item-hover">
                <div class="container-item">
                  <div class="container-icon">
                    <img id="icon" src="{% static 'images/icons/IconSecure.svg' %}" alt="Ícono Personal docente y administrativo" />
                  </div>
                </div>
                <div class="text"><b>4000</b> Personal Docente y Administrativo</div>
              </div>
            </a>
            <a href="{% url 'Escuelacomunidadypertenencia' %}">
              <div id="item-hover">
                <div class="container-item">
                  <div class="container-icon">
                    <img id="icon"src="{% static 'images/icons/IconPeople.svg' %}" alt="Ícono Escuela, comunidad y pertenencia" />
                  </div>
                </div>
                <div class="text"><b>5000</b> Escuela Comunidad y Pertenencia</div>
              </div>
            </a>
          </div>
        </div>
      {% endblock %}
    </header>
    <title>
      {% block my_custom_title %}
        Título Predeterminado
      {% endblock %}
    </title>
    {% block content %}

    {% endblock %}
    <footer>
        <div class="container">
            <h6>©2023 por CONASTEM</h6>
        </div>
    </footer>
  </body>
</html>
