<!DOCTYPE html>
<html lang="en","es">
<head>
    {% block title %}
    <title>Local Library</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'static/' %}" />
    <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans"
    rel="stylesheet"
    type="text/css"
    />
</head>

<body>

    <header>
        {%block sidebar%}
        <div class="Logo">
            <img src="{%static 'images/Logo_conastem.svg' %}" alt="Logo_CONASTEM">
        </div>
        <ul class: "menu">
            <li><a href= "{%url 'criterio_list' %}"> <img src="{%static 'images/icon_home.svg'%}" alt="Ícono home"></a></li>
            <li> <a href=""> <img src="{%static 'images/icon_infraestructura.svg'%}" alt="Ícono Infraestructura"></a></li>
            <li><a href= ""> <img src="{%static 'images/icon_curriculo.svg'%}" alt="Ícono Currículo"></a></li>
            <li><a href= ""> <img src="{%static 'images/icon_form_instruc_eva.svg'%}" alt="Ícono Formación/ Instrucción/ Evaluación"> </a></li>
            <li><a href= ""> <img src="{%static 'images/icon_personal_doc_adm.svg'%}" alt="Ícono Personal docente y administrativo"></a></li>
            <li><a href= "{% url "Escuelacomunidadypertenencia"%}"> <img src="{%static 'images/icon_escuela_comu_perten.svg'%}" alt="Ícono Escuela, comunidad y pertenencia"></a></li>
        {%endblock%}
    </header>

    {%block content%} {%endblock content%}

    <footer>
        <h6>©2023 por CONASTEM</h6>
    </footer>

</body>

