{% extends 'base_general.html' %}

{% block content %}
<html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      {% load static %}
      <link rel="stylesheet" href="{% static 'styles/form_subcriterio.css' %}" />
      <link href="https://fonts.googleapis.com/css2?family=Inter" rel="stylesheet" type="text/css" />
      <link href="https://fonts.googleapis.com/css2?family=Questrial" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <section id="main">
            <div class="container-items2">
                <div class="sections">
                    <section id="section1">
                        <h1>Registro Nuevo Subcriterio</h1>
                        <div class="form">
                            <form method="POST" class="formulario">
                                {% csrf_token %}
                                <div class="camp-formulario" id="form">
                                    <section class="section-datos">
                                        <div class="titulo">
                                            <h2>Datos Generales</h2>
                                        </div>
                                        <div class="contenido">
                                            <div class="item-camp">
                                                <div class="item-camp-text">
                                                    <label for="{{ form_new.numeral.id_for_label }}">Numeral</label>
                                                </div>
                                                <div class="input">{{ form_new.numeral }}</div>
                                            </div>
                                            <div class="item-camp">
                                                <div class="item-camp-text">
                                                    <label for="{{ form_new.priority.id_for_label }}">Prioridad</label>
                                                </div>
                                                <div class="input">{{ form_new.priority }}</div>
                                            </div>
                                            <div class="item-camp">
                                                <div class="item-camp-text">
                                                    <label for="{{ form_new.person_responsable.id_for_label }}">Responsable</label>
                                                </div>
                                                <div class="input">
                                                    {{ form_new.person_responsable }}
                                                    <a href="{% url 'person_responsable_new' %}" target="_blank">
                                                        <img id="plus" src="{% static 'images/agregar.svg' %}" alt="Agregar Responsable">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="item-camp">
                                                <div class="item-camp-text">
                                                    <label for="{{ form_new.dep_responsable.id_for_label }}">Departamento responsable</label>
                                                </div>
                                                <div class="input">{{ form_new.dep_responsable }}</div>
                                            </div>
                                            <div class="item-camp">
                                                <div class="item-camp-text">
                                                    <label for="{{ form_new.track_date.id_for_label }}">Fecha límite de seguimiento</label>
                                                </div>
                                                <div class="input">{{ form_new.track_date }}</div>
                                            </div>
                                        </div>
                                    </section>
                                    
                            
                                    <section class="section-datos">
                                        <div class="titulo">
                                            <h2>Auditoría Interna</h2>
                                        </div>
                                        <div class="contenido">
                                            <div class="item-camp">
                                                <div class="item-camp-text">
                                                    <label for="{{ internal_auditory_date }}">Año de registro</label>
                                                </div>
                                                <div>{{ form_new.internal_auditory_date }}</div>
                                            </div>
                                        </div>
                                        <div class="contenido">
                                            <div class="item-camp">
                                                <div class="item-camp-text">
                                                    <label for="{{ internal_auditory_obs }}">Observación</label>
                                                </div>
                                            <div class="input">{{ form_new.internal_auditory_obs }} </div>
                                        </div>
                                    </section>
                            

                                    
                                    <section class="section-datos">
                                        <div class="titulo">
                                            <h2>Auditoría Externa</h2>
                                        </div>
                                        <div class="contenido">
                                            <div class="item-camp">
                                                <div class="item-camp-text">
                                                    <label for="{{ external_auditory_date }}">Año de registro</label>
                                                </div>
                                                <div>{{ form_new.external_auditory_date }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contenido">
                                            <div class="item-camp">
                                                <div class="item-camp-text">
                                                    <label for="{{ external_auditory_obs }}">Observación</label>
                                                </div>
                                            <div class="input">{{ form_new.external_auditory_obs }}</div>
                                        </div>
                                    </section>

                                    
                                    <section class="section-datos">
                                        <div class="titulo">
                                            <h2>Evidencias</h2>
                                        </div>
                                        <div class="contenido">
                                            <div class="item-camp">
                                                <div class="item-camp-text">
                                                    <label for="{{ evidence }}">Adjunta link de evidencia</label>
                                                </div>
                                                <div class="input">{{ form_new.evidence }}</div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <button id="open" type="submit" class="submit">Enviar</button>
                                <div id="popUp" class="popup-container">
                                    <div class="popup-content">
                                        <h2>¡Registro exitoso!</h2>
                                        <div id="close" class="close">
                                            <a href="{%url 'person_responsable_new'%}">
                                                <button class="submit">Nuevo Registro</button>
                                            </a>
                                            <a href="{%url 'responsable_list'%}">
                                                <button class="submit">Ver Registros</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </section>
        <script type='text/javascript' src="{%static 'pop_up.js'%}"></script>
    </body>
  </html>
{% endblock %}