{% extends "base_general.html" %}


{%block content%}

<form method="POST" class="formulario"> {% csrf_token %}
   <h2>{{ titulo }}</h2>
    <section>

        <meta charset="UTF-8">
        
    
        <div class="campo-formulario">
            <label for="{{numeral}}">Numeral</label>
                {{form_new.numeral}}
            </div>
        </div> 
        
        <div class="campo-formulario">
            <label for="{{priority}}">Prioridad</label>
                {{form_new.priority}}
        </div>
    
        <div class="campo-formulario">
            <label for="{{ person_responsable }}">Responsable</label>
                {{ form_new.person_responsable }}
        </div>
    
        <div class="campo-formulario">
            <label for="{{ dep_responsable}}">Departamento responsable</label>
                {{ form_new.dep_responsable }}
        </div>
        
        <div class="campo-formulario">
            <label for="{{ track_year }}">Año límite</label>
                {{ form_new.track_year }}
        </div>
    
        <div class="campo-formulario">
            <label for="{{ track_date }}">Fecha límite</label>
                {{ form_new.track_date }}
        </div>

    </section>

    <section>
        <h2>Auditoría interna</h2>

        <div class="campo-formulario">
            <label for="{{ internal_auditory_date }}">Año de registro</label>
                {{ form_new.internal_auditory_date }}
        </div>
    
        <div class="campo-formulario">
            <label for="{{ internal_auditory_obs }}">Año de registro</label>
                {{ form_new.internal_auditory_obs }}
        </div>

    </section>
    
    <section>

        <h2>Auditoría externa</h2>
    
        <div class="campo-formulario">
            <label for="{{ external_auditory_date }}">Año de registro</label>
                {{ form_new.external_auditory_date }}
        </div>
    
        <div class="campo-formulario">
            <label for="{{ external_auditory_obs }}">Año de registro</label>
                {{ form_new.external_auditory_obs }}
        </div>

    </section>

    <section>
        <h2>Evidencias</h2>
        <a><input type= "text">Agregar evidencias de las acciones</input></a>
    </section>
    
    <button type="submit" class="boton-formulario">Enviar</button>

</form>

{%endblock content%}