{% extends "base_general.html" %}

{% load static %}

{%block content%}

<div class= "container-1">
    <h1>Criterios del Marco de Referencia en la Educación STEM</h1>
    <p>Por medio de los siguientes criterios del marco de referencia, podrás realizar;
    un diagnóstico, subir avances, sistematizar y hacer seguimiento de sus iniciativas en STEM
    y Educación STEM institucionales
    </p>
    <img src="{%static 'images/crear_datos.svg'%}" alt="Logo crear usuario">
    <img src="{%static 'images/obtener_datos.svg'%}" alt="">
</div>

<div class="container-2">
    <img src="{%static 'images/Libro_STEM.svg'%}" alt="Educación STEM Marco de referencia para américa latina"/>
    <p>Página basada en el libro Educación STEM marco de referencia para América Latina </p>
    <a href="https://www.conastem.org/" target="_blank">Descargar libro</a>
    <a href="">Manual de usuario</a> <!-- Enlazar con la documentación -->
</div>

{%endblock content%}