{% extends 'base_general.html' %}

{% block content %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />

      {% load static %}
      <link rel="stylesheet" href="{% static 'styles/records_detail.css' %}" />
      <link href="https://fonts.googleapis.com/css2?family=Inter" rel="stylesheet" type="text/css" />
      <link href="https://fonts.googleapis.com/css2?family=Questrial" rel="stylesheet" type="text/css" />
    </head>

    <body>
      <section id="main">
        <div class="container-items2">
          <div class="sections">
            <section id="section1">
              <h1>Responsables Registrados {{ responsable_detail }}</h1>
              <div class="form">
                <div class="campo-formulario" id="form">
                  {% if responsable_list %}
                    {% for personresponsable in responsable_list %}
                      <a href="{{ personresponsable.get_absolute_url }}">
                        <button class="cnt">
                          <div class="cntt">
                            <div class="cnt-item">
                              <div class="textt">{{ personresponsable.last_name }} {{ personresponsable.first_name }}</div>
                            </div>
                          </div>
                        </button>
                      </a>
                    {% endfor %}
                  {% else %}
                    <p>No se encontraron registros</p>
                  {% endif %}

                    <a href="{% url 'person_responsable_new' %}">
                      <button class="submit">
                        <div class="cntt">
                          <div class="cnt-item">
                            <div>Agregar Responsable</div>
                          </div>
                        </div>
                      </button>
                    </a>
                    
                    <a href="{% url 'responsable_list' %}">
                        <button class="ccnt">
                              <div class="cnt-item">
                                <div class="text">Atrás</div>
                              </div>
                        </button>               
                    </a>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
    </body>
  </html>
{% endblock %}
