{% extends 'base_general.html' %}

{% block content %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />

      {% load static %}
      <link rel="stylesheet" href="{% static 'styles/records_detail.css' %}" />
      <link href="https://fonts.googleapis.com/css2?family=Inter" rel="stylesheet" type="text/css" />
      <link href="https://fonts.googleapis.com/css2?family=Questrial" rel="stylesheet" type="text/css" />
    </head>

    <body>
      <div class="content-list">
        <section class="lista">
          {% if responsable_list %}
            {% for personresponsable in responsable_list %}
              <li>
                <a href="{{ personresponsable.get_absolute_url }}">{{ personresponsable.last_name }} {{ personresponsable.first_name }}</a>
              </li>
            {% endfor %}
          {% else %}
            <p>No se encontraron registros</p>
          {% endif %}
        </section>

        <div>
          <a href="{% url 'person_responsable_new' %}"><button>Agregue responsable</button></a>
        </div>
      </div>
    </body>
  </html>
{% endblock %}
