{% extends "base_general.html" %}

{%block content%}

<div class= "lista"> 
    <h1> Información de la institución {{register_detail}} </h1>
    <ul>

        <li>Nombre: {{register_detail.institution_name}} </li>
        <li>NIT: {{register_detail.nit}} </li>
        <li>Dirección: {{register_detail.adress}} </li>
        <li>Responsable: {{register_detail.institution_responsable}} </li>
        <li>Teléfono: {{register_detail.phone}} </li>
        <li>Correo electrónico: {{register_detail.email}} </li>
        <li>Modelo aplicado: {{register_detail.model}} </li>
        <li>Año de aplicación: {{register_detail.year}} </li>
    </ul>

</div>  
<div class="submit">
    <a href="{%url 'register_list'%}"> Atrás </a>
</div>  

<div class="container-2">
    <a href="{%url 'person_responsable_new'%}"><button>Apregue responsable</button></a>
    <img src="{%static 'images/Libro_STEM.svg'%}" alt="Educación STEM Marco de referencia para américa latina"/>
    <p>Página basada en el libro Educación STEM marco de referencia para América Latina </p>
    <a href="https://www.conastem.org/marcodereferencia" target="_blank">Descargar libro</a>
    <a href="">Manual de usuario</a> <!-- Enlazar con la documentación -->
</div>


{%endblock content%}