{% extends "base_general.html" %}

{% load static %}

{%block content%} 

<h1>Datos de la Institución Educativa</h1>

<form method="POST" class="formulario"> {% csrf_token %}

    <div class="campo-formulario">
        {{form.as_p}}
            {% comment %} {{form.institution_name}}
            {{form.nit}}
            {{ form.adress }}
            {{ form.institution_responsable }}
            {{ form.phone }}
            {{ form.email }}
            {{ form.year }}

        <label for="{{ form.institution_model }}">Modelo a aplicar</label> 
            {{ form.model }} {% endcomment %}
    </div>

    <button type="submit" class="boton-formulario">Enviar</button>

</form>

<div class="container-2">
    <img src="{%static 'images/Libro_STEM.svg'%}" alt="Educación STEM Marco de referencia para américa latina"/>
    <p>Página basada en el libro Educación STEM marco de referencia para América Latina </p>
    <a href="https://www.conastem.org/marcodereferencia" target="_blank">Descargar libro</a>
    <a href="">Manual de usuario</a> <!-- Enlazar con la documentación -->
</div>

{%endblock content%}