{% extends "base_general.html" %}

{% block content %}
{% load static %}

<div class= "titulo">
    <img src="{%static 'images/icon_escuela_comu_perten.svg' %}">
    <h1>Escuela, comunidad y pertenencia.</h1>
</div>
<div class="subtitulo">
    <h2 style="text-transform:uppercase">5100-COMPROMISO DE LA COMUNIDAD</h2>
    <a href="/database/compromisodelacomunidad/new"><img src="{%static 'images/crear_datos.svg'%}" alt="Crear datos"></a>
</div>
    <table>
       <thead>
          <tr>
              <th>Codigo</th>
              <th>Numeral</th>
              <th>Departamento Responsable</th>
              <th>Persona Responsable</th>
              <th>Año</th>
              <th>Fecha límite</th>
              <th>Fecha de auditoria interna</th>
              <th>Comentarios Auditoria Interna</th>
              <th>Fecha de auditoria externa</th>
              <th>Comentarios Auditoria Externa</th>
              <th>Enlaces</th>
          </tr>
       </thead>
       <tbody>
           {% for compromisodelacomunidad in Compromisodelacomunidad_List %}
      <tr>
        <td>{{compromisodelacomunidad.codigo}}</td>
        <td> {{compromisodelacomunidad.numeral }}</td>
        <td> {{compromisodelacomunidad.dep_responsable}}</td>
        <td>{{compromisodelacomunidad.person_responsable}}</td>
        <td>{{compromisodelacomunidad.track_year}}</td>
        <td>{{compromisodelacomunidad.track_date}}</td>
        <td>{{compromisodelacomunidad.internal_auditory_date}}</td>
        <td>{{compromisodelacomunidad.internal_auditory_obs}}</td>
        <td>{{compromisodelacomunidad.external_auditory_date}}</td>
        <td>{{compromisodelacomunidad.external_auditory_obs}}</td>
        <td><a href="{{ compromisodelacomunidad.evidence }}" target="_blank">{{ compromisodelacomunidad.evidence }}</a></td>
  |   </tr>
  {% empty %}
  <tr>
      <td colstran="9">No hay numerales.</td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}