{% extends "base_general.html" %}

{% block content %}
    <h1>Compromiso de la comunidad</h1>
    <table>
       <thead>
          <tr>
              <th>Codigo</th>
              <th>Numeral</th>
              <th>Departamento Responsable</th>
              <th>Persona Responsable</th>
              <th>Año</th>
              <th>Fecha límite</th>
              <th>Fecha de auditoria interna</th>
              <th>Comentarios Auditoria Interna</th>
              <th>Fecha de auditoria externa</th>
              <th>Comentarios Auditoria Externa</th>
              <th>Enlaces</th>
          </tr>
       </thead>
       <tbody>
           {% for compromisodelacomunidad in Compromisodelacomunidad_List %}
      <tr>
        <td>{{compromisodelacomunidad.codigo}}</td>
        <td> {{compromisodelacomunidad.numeral }}</td>
        <td> {{compromisodelacomunidad.dep_responsable}}</td>
        <td>{{compromisodelacomunidad.person_responsable}}</td>
        <td>{{compromisodelacomunidad.track_year}}</td>
        <td>{{compromisodelacomunidad.track_date}}</td>
        <td>{{compromisodelacomunidad.internal_auditory_date}}</td>
        <td>{{compromisodelacomunidad.internal_auditory_obs}}</td>
        <td>{{compromisodelacomunidad.external_auditory_date}}</td>
        <td>{{compromisodelacomunidad.external_auditory_obs}}</td>
  |   </tr>
  {% empty %}
  <tr>
      <td colstran="9">No hay numerales.</td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}