{% extends "base_general.html" %}
{% block content %}
{% load static %}


<div class= "titulo">
    <img src="{%static 'images/tabla_detail/icon_escu_comu_perten.svg' %}">
    <h1 style="text-transform:uppercase">5000-Escuela, comunidad y pertenencia</h1>
</div>

<p>Selecciona un subcriterio para continuar:</p>

<ul>
<li><a href="{% url 'Compromisodelacomunidad_List' %}">5100-COMPROMISO DE LA COMUNIDAD</a></li>
<li><a href="{% url 'Relacionesconlacomunidad_List' %}">5200-RELACIONES CON LA COMUNIDAD</a></li>
<li><a href="{% url 'Convivenciaescolar_List' %}">5300-CONVIVENCIA ESCOLAR</a></li>
<li><a href="{% url 'Sostenibilidadescuelacomunidadypertenecia_List' %}">5400-SOSTENIBILIDAD-ESCUELA, COMUNIDAD Y PERTENENCIA</a></li>
</ul>
{% endblock content %}