{% extends "base_general.html" %} {%block content%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/subcriterio_styles.css' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Questrial" rel="stylesheet" type="text/css"/>
  </head>                   
  <body>
    <section id="main">
      <div class="container-items2">
        <div class="sections">
          <section id="section1">
            <div class="encabezado">
                <div class="titulo-principal">
                    <div class="container-icon">
                        <img id="icon"src="{% static 'images/icons/IconPeople.svg' %}" alt="Ícono Escuela, comunidad y pertenencia" />
                    </div>
                    <h1>5000. ESCUELA, COMUNIDAD Y PERTENENCIA</h1>
                </div>
            </div>
            <div class="form">
              <div class="campo-formulario" id="form">
                <p>Selecciona un subcriterio para continuar:</p>
                <a href="{% url 'Compromisodelacomunidad_List' %}">
                    <button class="cnt">
                        <div class="cntt">
                            <div class="cnt-item">
                                <div class="textt"><b>5100.</b>COMPROMISO DE LA COMUNIDAD</div>
                            </div>
                        </div>
                    </button>
                </a>
                <a href="{% url 'Relacionesconlacomunidad_List' %}">
                    <button class="cnt">
                        <div class="cntt">
                            <div class="cnt-item">
                                <div class="textt"><b>5200.</b>RELACIONES CON LA COMUNIDAD</div>
                            </div>
                        </div>
                    </button>
                </a>
                <a href="{% url 'Convivenciaescolar_List' %}">
                    <button class="cnt">
                        <div class="cntt">
                            <div class="cnt-item">
                                <div class="textt"><b>5300.</b>CONVIVENCIA ESCOLAR</div>
                            </div>
                        </div>
                    </button>
                </a>
                <a href="{% url 'Sostenibilidadescuelacomunidadypertenecia_List' %}">
                    <button class="cnt">
                        <div class="cntt">
                            <div class="cnt-item">
                                <div class="textt"><b>5400.</b>SOSTENIBILIDAD-ESCUELA, COMUNIDAD Y PERTENENCIA</div>
                            </div>
                        </div>
                    </button>
                </a>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </body>
</html>
{%endblock content%}
