{% extends "base_general.html" %}
{% block content %}
<h1>Escuela, Comunidad y Pertenencia</h1>
<ul>
<li><a href="{% url 'Compromisodelacomunidad_List' %}">Compromiso de la comunidad</a></li>
<li><a href="{% url 'Convivenciaescolar_List' %}">Convivencia Escolar</a></li>
<li><a href="{% url 'Escuelacomunidadypertenencia' %}">Relaciones con la Cominudad</a></li>
<li><a href="{% url 'Escuelacomunidadypertenencia' %}">Sostenibilidad, Escuela Comunidad y Pertenencia</a></li>
</ul>
{% endblock content %}