{% extends "base_general.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/tables.css' %}">


<body>
    <div class="fondo">
<div class= "margen-contenedor">
<div class= "titulo">
    <img src="{%static 'images/icons/IconPeople.svg' %}">
    <h1 style="text-transform:uppercase">5000-Escuela, comunidad y pertenencia</h1>
</div>
<div class="subtitulo">
    <div class="titulo-texto">
        <h2 style="text-transform:uppercase">5400-SOSTENIBILIDAD-ESCUELA, COMUNIDAD Y PERTENENCIA</h2>
    </div>
    <a href="/database/sostenibilidadescuela/new">
        <div id="imagen-crear-datos">
            <img src="{%static 'images/crear_datos.svg'%}" alt="Crear datos">
        </div>
    </a>
</div>
<hr>

<div class="tabla-contenedor">
    <div class="tabla-scroll">
    <table class="celdas">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Numeral</th>
                <th>Prioridad<t/h>
                <th>Departamento Responsable</th>
                <th>Persona Responsable</th>
                <th>Fecha límite de seguimiento</th>
                <th>Fecha de auditoria interna</th>
                <th>Comentarios Auditoria Interna</th>
                <th>Fecha de auditoria externa</th>
                <th>Comentarios Auditoria Externa</th>
                <th>Enlaces</th>
            </tr>
        </thead>
        <tbody>
            {% for sostenibilidadescuelacomunidadypertenencia in Sostenibilidadescuelacomunidadypertenenecia_List %}
            <tr>
                <td>{{sostenibilidadescuelacomunidadypertenencia.codigo}}</td>
                <td>{{sostenibilidadescuelacomunidadypertenencia.numeral }}</td>
                <td>{{sostenibilidadescuelacomunidadypertenencia.priority}}</td>
                <td>{{sostenibilidadescuelacomunidadypertenencia.dep_responsable}}</td>
                <td>{{sostenibilidadescuelacomunidadypertenencia.person_responsable}}</td>
                <td>{{sostenibilidadescuelacomunidadypertenencia.track_date}}</td>
                <td>{{sostenibilidadescuelacomunidadypertenencia.internal_auditory_date}}</td>
                <td>{{sostenibilidadescuelacomunidadypertenencia.internal_audirtory_obs}}</td>
                <td>{{sostenibilidadescuelacomunidadypertenencia.external_auditory_date}}</td>
                <td>{{sostenibilidadescuelacomunidadypertenencia.external_audirtory_obs}}</td>
                <td><a href="{{ sostenibilidadescuelacomunidadypertenencia.evidence }}" target="_blank">{{ sostenibilidadescuelacomunidadypertenencia.evidence }}</a></td>
            </tr>
        {% empty %}
        <tr>
            <td colstran="9">No hay numerales.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
</div>
</body>
{% endblock %}