{% extends "base_general.html" %}

{% block content %}
    <h1>5400-SOSTENIBILIDAD-ESCUELA, COMUNIDAD Y PERTENENCIA</h1>
    <table>
      <thead>
         <tr>
             <th>Codigo</th>
             <th>Numeral</th>
             <th>Departamento Responsable</th>
             <th>Persona Responsable</th>
             <th>Año</th>
             <th>Fecha límite</th>
             <th>Fecha de auditoria interna</th>
             <th>Comentarios Auditoria Interna</th>
             <th>Fecha de auditoria externa</th>
             <th>Comentarios Auditoria Externa</th>
             <th>Enlaces</th>
         </tr>
      </thead>
      <tbody>
      {% for sostenibilidadescuelacomunidadypertenencia in Sostenibilidadescuelacomunidadypertenenecia_List %}
      <tr>
        <td>{{sostenibilidadescuelacomunidadypertenencia.codigo}}</td>
        <td> {{ sostenibilidadescuelacomunidadypertenencia.numeral }}</h1>
        <td>{{sostenibilidadescuelacomunidadypertenencia.dep_responsable}}</p>
        <td>{{sostenibilidadescuelacomunidadypertenencia.person_responsable}}</p>
        <td>{{sostenibilidadescuelacomunidadypertenencia.track_year}}</p>
        <td>{{sostenibilidadescuelacomunidadypertenencia.track_date}}</p>
        <td>{{sostenibilidadescuelacomunidadypertenencia.internal_audiory_date}}</p>
        <td>{{sostenibilidadescuelacomunidadypertenencia.internal_audirory_obs}}</p>
        <td>{{sostenibilidadescuelacomunidadypertenencia.external_audiory_date}}</p>
        <td>{{sostenibilidadescuelacomunidadypertenencia.external_audirory_obs}}</p>
  
      </tr>
      {% empty %}
      <tr>
          <td colstran="9">No hay numerales.</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
{% endblock %}