{% extends "base_general.html" %}

{% block content %}
    <h1>1100-DESARROLLO DE EQUIPOS LIDERES</h1>
    <table>
      <thead>
         <tr>
             <th>Codigo</th>
             <th>Numeral</th>
             <th>Departamento Responsable</th>
             <th>Persona Responsable</th>
             <th>Año</th>
             <th>Fecha límite</th>
             <th>Fecha de auditoria interna</th>
             <th>Comentarios Auditoria Interna</th>
             <th>Fecha de auditoria externa</th>
             <th>Comentarios Auditoria Externa</th>
             <th>Enlaces</th>
         </tr>
      </thead>
      <tbody>
      {% for DesarrolloDeEquiposLideres in Desarrollo_de_equipos_lideres_list %}
      <tr>
        <td>{{DesarrolloDeEquiposLideres.codigo}}</td>
        <td> {{ DesarrolloDeEquiposLideres.numeral }}</h1>
        <td>{{DesarrolloDeEquiposLideres.dep_responsable}}</p>
        <td>{{DesarrolloDeEquiposLideres.person_responsable}}</p>
        <td>{{DesarrolloDeEquiposLideres.track_year}}</p>
        <td>{{DesarrolloDeEquiposLideres.track_date}}</p>
        <td>{{DesarrolloDeEquiposLideres.internal_auditory_date}}</p>
        <td>{{DesarrolloDeEquiposLideres.internal_auditory_obs}}</p>
        <td>{{DesarrolloDeEquiposLideres.external_auditory_date}}</p>
        <td>{{DesarrolloDeEquiposLideres.external_auditory_obs}}</p>
  
      </tr>
      {% empty %}
      <tr>
          <td colstran="9">No hay numerales.</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
{% endblock %}