{% extends "base_general.html" %}

{% block content %}
{% load static %}

<div class= "titulo">
    <img src="{%static 'images/tabla_detail/icon_infraestructura.svg' %}">
    <h1>1000-INFRAESTRUCTURA</h1>
</div>
<div class="subtitulo">
    <h2 style="text-transform:uppercase">1100-DESARROLLO DE EQUIPOS LIDERES</h2>
    <a href="/database/desarrollo-de-equipos-lideres/new/"><img src="{%static 'images/crear_datos.svg'%}" alt="Crear datos"></a>
</div>
    <table>
       <thead>
          <tr>
              <th>Codigo</th>
              <th>Numeral</th>
              <th>Departamento Responsable</th>
              <th>Persona Responsable</th>
              <th>Fecha límite de seguimiento</th>
              <th>Fecha de auditoria interna</th>
              <th>Comentarios Auditoria Interna</th>
              <th>Fecha de auditoria externa</th>
              <th>Comentarios Auditoria Externa</th>
              <th>Enlaces</th>
          </tr>
       </thead>
       <tbody>
           {% for DesarrolloDeEquiposLideres in Desarrollo_de_equipos_lideres_list %}
      <tr>
        <td>{{DesarrolloDeEquiposLideres.codigo}}</td>
        <td> {{DesarrolloDeEquiposLideres.numeral }}</td>
        <td> {{DesarrolloDeEquiposLideres.dep_responsable}}</td>
        <td>{{DesarrolloDeEquiposLideres.person_responsable}}</td>
        <td>{{DesarrolloDeEquiposLideres.track_date}}</td>
        <td>{{DesarrolloDeEquiposLideres.internal_auditory_date}}</td>
        <td>{{DesarrolloDeEquiposLideres.internal_auditory_obs}}</td>
        <td>{{DesarrolloDeEquiposLideres.external_auditory_date}}</td>
        <td>{{DesarrolloDeEquiposLideres.external_auditory_obs}}</td>
        <td><a href="{{ DesarrolloDeEquiposLideres.evidence }}" target="_blank">{{ DesarrolloDeEquiposLideres.evidence }}</a></td>
  |   </tr>
  {% empty %}
  <tr>
      <td colstran="9">No hay numerales.</td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}