{% extends "base_general.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/tables.css' %}">

<body>
    <div class="fondo">
<div class= "margen-contenedor">
<div class= "titulo">
    <img src="{%static 'images/icons/IconBuilding.svg' %}">
    <h1>1000-INFRAESTRUCTURA</h1>
</div>
<div class="subtitulo">
    <div class="titulo-texto">
        <h2 style="text-transform:uppercase">1600-EQUIDAD</h2>
    </div>
    <a href="/database/equidad/new/">
        <div id="imagen-crear-datos">
            <img src="{%static 'images/crear_datos.svg'%}" alt="Crear datos">
        </div>
    </a>
</div>
<hr>

<div class="tabla-contenedor">
    <div class="tabla-scroll">
    <table class="celdas">
        <thead>
            <tr>
                <th>Código</th>
                <th>Numeral</th>
                <th>Prioridad</th>
                <th>Departamento Responsable</th>
                <th>Persona Responsable</th>
                <th>Fecha límite de seguimiento</th>
                <th>Fecha de auditoria interna</th>
                <th>Comentarios Auditoria Interna</th>
                <th>Fecha de auditoria externa</th>
                <th>Comentarios Auditoria Externa</th>
                <th>Enlaces</th>
            </tr>
        </thead>
        <tbody>
            {% for Equidad in Equidad_list %}
            <tr>
                <td>{{Equidad.codigo}}</td>
                <td> {{Equidad.numeral }}</td>
                <td>{{Equidad.priority}}</td>
                <td> {{Equidad.dep_responsable}}</td>
                <td>{{Equidad.person_responsable}}</td>
                <td>{{Equidad.track_date}}</td>
                <td>{{Equidad.internal_auditory_date}}</td>
                <td>{{Equidad.internal_auditory_obs}}</td>
                <td>{{Equidad.external_auditory_date}}</td>
                <td>{{Equidad.external_auditory_obs}}</td>
                <td><a href="{{ Equidad.evidence }}" target="_blank">{{ Equidad.evidence }}</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colstran="9">No hay registros.</td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    </div>
    </div>
    </body>
    
    {% endblock %}