{% extends "base_general.html" %}
{% block content %}
<h1>1000-INFRAESTRUCTURA</h1>
<ul>
<li><a href="{% url 'Ambiente_escolar_list' %}">1300-AMBIENTE ESCOLAR</a></li>
<li><a href="{% url 'Desarrollo_de_equipos_lideres_list' %}">1100-DESARROLLO DE EQUIPOS LIDERES</a></li>
<li><a href="{% url 'Equidad_list' %}">1600-EQUIDAD</a></li>
<li><a href="{% url 'Planeacion_institucional_list' %}">1200-PLANEACIÓN INSTITUCIONAL</a></li>
<li><a href="{% url 'Recursos_tecnologicos_list' %}">1400-RECURSOS TECNOLÓGICOS</a></li>
<li><a href="{% url 'Sostenibilidad_list' %}">1700-SOSTENIBILIDAD</a></li>
<li><a href="{% url 'Uso_informacion_list' %}">1700-USO DE INFORMACION</a></li>
</ul> 
{% endblock content %}