{% extends "base_general.html" %}

{% block content %}
<h1>Consideraciones sobre las áreas y asignaturas</h1>
<table>
    <thead>
        <tr>
            <th>Numeral</th>
            <th>Departamento Responsable</th>
            <th>Persona Responsable</th>
            <th>Año</th>
            <th>Fecha límite</th>
            <th>Fecha de auditoria interna</th>
            <th>Comentarios Auditoria Interna</th>
            <th>Fecha de auditoria externa</th>
            <th>Comentarios Auditoria Externa</th>
            <th>Enlaces</th>
        </tr>
    </thead>
    <tbody>
        {% for ConsideracionesSobreAreasYAsignaturas in ConsideracionesSobreAreasYAsignaturas_list %}
        <tr>
            <td>{{ ConsideracionesSobreAreasYAsignaturas.numeral }}</td>
            <td>{{ ConsideracionesSobreAreasYAsignaturas.dep_responsable }}</td>
            <td>{{ ConsideracionesSobreAreasYAsignaturas.person_responsable }}</td>
            <td>{{ ConsideracionesSobreAreasYAsignaturas.track_year }}</td>
            <td>{{ ConsideracionesSobreAreasYAsignaturas.track_date }}</td>
            <td>{{ ConsideracionesSobreAreasYAsignaturas.internal_audiory_date }}</td>
            <td>{{ ConsideracionesSobreAreasYAsignaturas.internal_audirory_obs }}</td>
            <td>{{ ConsideracionesSobreAreasYAsignaturas.external_audiory_date }}</td>
            <td>{{ ConsideracionesSobreAreasYAsignaturas.external_audirory_obs }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="9">No hay numerales.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
