

{% extends "base_general.html" %} {%block content%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/subcriterio_styles.css' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Questrial" rel="stylesheet" type="text/css"/>
  </head>                   
  <body>
    <section id="main">
      <div class="container-items2">
        <div class="sections">
          <section id="section1">
            <div class="encabezado">
                <div class="titulo-principal">
                    <div class="container-icon">
                        <img id="icon" src="{% static 'images/icons/IconDoc.svg' %}" alt="Ícono Currículo"/>
                    </div>
                    <h1>2000. CURRICULO</h1>
                </div>
            </div>
            <div class="form">
                <div class="campo-formulario" id="form">
                <p>Selecciona un subcriterio para continuar:</p>
                <a href="{%url 'ConsideracionesSobreAreasYAsignaturas_list'%}">
                    <button class="cnt">
                        <div class="cntt">
                            <div class="cnt-item">
                                <div class="textt"><b>2100.</b>CONSIDERACIONES SOBRE LAS ÁREAS Y ASIGNATURAS</div>
                            </div>
                        </div>
                    </button>
                </a>
                <a href="{%url 'Inclusion_ingenieria_aula_list'%}">
                    <button class="cnt">
                        <div class="cntt">
                            <div class="cnt-item">
                                <div class="textt"><b>2200.</b>INCLUSION DE LA INGENIERIA EN EL AULA</div>
                            </div>
                        </div>
                    </button>
                </a>
                <a href="{%url 'desarrollo_ciudadania_digital_list'%}">
                    <button class="cnt">
                        <div class="cntt">
                            <div class="cnt-item">
                                <div class="textt"><b>2300.</b>DESARROLLO DE UNA CIUDADANIA DIGITAL</div>
                            </div>
                        </div>
                    </button>
                </a>
                <a href="{%url 'IntegracionCurricular_list'%}">
                    <button class="cnt">
                        <div class="cntt">
                            <div class="cnt-item">
                                <div class="textt"><b>2400.</b>INTEGRACIÓN CURRICULAR</div>
                            </div>
                        </div>
                    </button>
                </a>
                <a href="{%url 'Curriculo_progresivo_list'%}">
                    <button class="cnt">
                        <div class="cntt">
                            <div class="cnt-item">
                            <div class="textt"><b>2500.</b>CURRICULO RPOGRESIVO Y ALINEADO CON LOS ESTANDARES CURRICULARES</div>
                            </div>
                        </div>
                    </button>
                </a>
                <a href="{% url 'Equidad_list' %}">
                    <button class="cnt">
                        <div class="cntt">
                            <div class="cnt-item">
                                <div class="textt"><b>2600.</b>CURRICULO PROPIO</div>
                            </div>
                        </div>
                    </button>
                </a>
                <a href="{%url 'DesarrolloHabilidadesSigloXXI_list'%}">
                    <button class="cnt">
                        <div class="cntt">
                            <div class="cnt-item">
                                <div class="textt"><b>2700.</b>DESARROLLO DE LAS HABILIDADES DEL SIGLO XXI</div>
                            </div>
                        </div>
                    </button>
                </a>
                <a href="{%url 'Evaluacion_estudiantes_list'%}">
                        <button class="cnt">
                            <div class="cntt">
                                <div class="cnt-item">
                                    <div class="textt"><b>2800.</b>EVALUACION DE LOS ESTUDIANTES</div>
                                </div>
                            </div>
                        </button>
                    </a>
                <a href="{%url 'SostenibiliadCurriculo_list'%}">
                        <button class="cnt">
                            <div class="cntt">
                                <div class="cnt-item">
                                    <div class="textt"><b>2900.</b>SOSTENIBILIDAD - CURRICULO</div>
                                </div>
                            </div>
                        </button>
                </a>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </body>
</html>
{%endblock content%}