{% extends "base_general.html" %}

{% block content %}

<h2>CURRICULO</h2>

<section class="lista">
    <ul>
        <li><a href="{%url 'ConsideracionSobreAreasYAsignaturas_list'%}">2100 CONSIDERACIONES SOBRE LAS ÁREAS Y ASIGNATURAS</a></li>
        <li><a href="{%url 'Inclusion_ingenieria_aula_list'%}">Inclusión de la ingeniería en el aula</a></li>
        <li><a href="{%url 'Desarrollo_ciudadania_digital_list'%}">Desarrollo de una ciudadanía digital</a></li>
        <li><a href="{%url 'IntegracionCurricular_list'%}">2400 INTEGRACIÓN CURRICULAR </a></li>
        <li><a href="{%url 'Curriculo_progresivo_list'%}">Currículo progresivo y alineado con los estándares curriculares</a></li>
        <li><a href="{%url 'Curriculo_propio_list'%}">Currículo propio</a></li>
        <li><a href="{%url 'DesarrolloHabilidadesSigloXXI_list'%}">2700 DESARROLLO DE LAS HABILIDADES DEL SIGLO XXI </a></li>
        <li><a href="{%url 'Evaluacion_estudiantes_list'%}">Evaluación de los estudiantes</a></li>
        <li><a href="{%url 'SostenibiliadCurriculo_list'%}">2900 SOSTENIBILIDAD - CURRICULO</a></li>
    </ul>
</section>

{% endblock content %}