{% extends "base_general.html" %}

{% block content %}
<h1>Desarrollo ciudadania digital</h1>
<table>
    <thead>
        <tr>
            <th>Numeral</th>
            <th>Departamento Responsable</th>
            <th>Persona Responsable</th>
            <th>Año</th>
            <th>Fecha límite</th>
            <th>Fecha de auditoria interna</th>
            <th>Comentarios Auditoria Interna</th>
            <th>Fecha de auditoria externa</th>
            <th>Comentarios Auditoria Externa</th>
            <th>Enlace</th>
        </tr>
    </thead>
    <tbody>
        {% for DesarrolloCiudadaniaDigital in Desarrollo_ciudadania_digital_list %}
        <tr>
            <td>{{ DesarrolloCiudadaniaDigital.numeral }}</td>
            <td>{{ DesarrolloCiudadaniaDigital.dep_responsable }}</td>
            <td>{{ DesarrolloCiudadaniaDigital.person_responsable }}</td>
            <td>{{ DesarrolloCiudadaniaDigital.track_year }}</td>
            <td>{{ DesarrolloCiudadaniaDigital.track_date }}</td>
            <td>{{ DesarrolloCiudadaniaDigital.internal_audiory_date }}</td>
            <td>{{ DesarrolloCiudadaniaDigital.internal_audirory_obs }}</td>
            <td>{{ DesarrolloCiudadaniaDigital.external_audiory_date }}</td>
            <td>{{ DesarrolloCiudadaniaDigital.external_audirory_obs }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="9">No hay numerales.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}