{% extends "base_general.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">


<body>
    <div class="fondo">
<div class= "margen-contenedor">
<div class= "titulo">
    <img src="{%static 'images/icons/IconDoc.svg' %}">
    <h1 style="text-transform:uppercase">2000 - Currículo</h1>
</div>
<div class="subtitulo">
    <div class="titulo-texto">
        <h2 style="text-transform:uppercase">2800 - Evaluación de Estudiantes</h2>
    </div>
    <div class= "imagen-crear-datos">
        <a href="/database/evaluacion-estudiantes/new"><img src="{%static 'images/crear_datos.svg'%}" alt="Crear datos"></a>
    </div>
</div>
<div class="tabla-contenedor">
    <div class="tabla-scroll">
    <table class="celdas">
        <thead>
            <tr>
                <th>Código</th>
                <th>Numeral</th>
                <th>Prioridad</th>
                <th>Departamento Responsable</th>
                <th>Persona Responsable</th>
                <th>Fecha límite de seguimiento</th>
                <th>Fecha de auditoria interna</th>
                <th>Comentarios Auditoria Interna</th>
                <th>Fecha de auditoria externa</th>
                <th>Comentarios Auditoria Externa</th>
                <th>Enlaces</th>
            </tr>
        </thead>
        <tbody>
            {% for EvaluacionEstudiantes in Evaluacion_estudiantes_list %}
            <tr>
                <td>{{ EvaluacionEstudiantes.codigo }}</td>
                <td>{{ EvaluacionEstudiantes.numeral }}</td>
                <td>{{ EvaluacionEstudiantes.priority}}</td>
                <td>{{ EvaluacionEstudiantes.dep_responsable }}</td>
                <td>{{ EvaluacionEstudiantes.person_responsable }}</td>
                <td>{{ EvaluacionEstudiantes.track_date }}</td>
                <td>{{ EvaluacionEstudiantes.internal_auditory_date }}</td>
                <td>{{ EvaluacionEstudiantes.internal_auditory_obs }}</td>
                <td>{{ EvaluacionEstudiantes.external_auditory_date }}</td>
                <td>{{ EvaluacionEstudiantes.external_auditory_obs }}</td>
                <td><a href="{{EvaluacionEstudiantes.evidence}}" traget="_blank">{{EvaluacionEstudiantes.evidence}}</a></td>
            </tr>
        {% empty %}
        <tr>
            <td colspan="9">No hay registros.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>  
</div>
</div>
</div>
</body>


{% endblock %}