{% extends "base_general.html" %}

{% block content %}
<h1>Inclusion ingenieria aula</h1>
<table>
    <thead>
        <tr>
            <th>Numeral</th>
            <th>Departamento Responsable</th>
            <th>Persona Responsable</th>
            <th>Año</th>
            <th>Fecha límite</th>
            <th>Fecha de auditoria interna</th>
            <th>Comentarios Auditoria Interna</th>
            <th>Fecha de auditoria externa</th>
            <th>Comentarios Auditoria Externa</th>
        </tr>
    </thead>
    <tbody>
        {% for InclusionIngenieriaAula in inclusion_ingenieria_aula_list %}
        <tr>
            <td>{{ InclusionIngenieriaAula.numeral }}</td>
            <td>{{ InclusionIngenieriaAula.dep_responsable }}</td>
            <td>{{ InclusionIngenieriaAula.person_responsable }}</td>
            <td>{{ InclusionIngenieriaAula.track_year }}</td>
            <td>{{ InclusionIngenieriaAula.track_date }}</td>
            <td>{{ InclusionIngenieriaAula.internal_audiory_date }}</td>
            <td>{{ InclusionIngenieriaAula.internal_audirory_obs }}</td>
            <td>{{ InclusionIngenieriaAula.external_audiory_date }}</td>
            <td>{{ InclusionIngenieriaAula.external_audirory_obs }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="9">No hay numerales.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}