* {
    font-family: Inter;
}

.text {
    text-align: right;
}

body {
    margin: 150px 0 0 0 ;
}

header {
    width: 100%;
    height: 150px;
    border-bottom: 3px solid #264094;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    z-index: 100;
    position: fixed;
    top: 0;
    background-color: #fff;
}

header .container {
    align-self: stretch;
    height: 100%;
    width: 100%;
    padding:0;
    margin: auto;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 0;
    display: flex;
}

header .container-logo {
    padding: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

header .logo {
    width: 200px;
    height: auto;
}

header #menu {
    align-self: stretch;
    width: auto;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
    display: inline-flex;
    gap: 5px;
    padding: 0 4%;
}

/* Color inicial del borde gris oscuro */
header #item-hover {
    padding: 5px;
    border-bottom: 3px #ffffff solid;
    /* Color inicial gris oscuro del borde inferior */
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: center;
    vertical-align: bottom;
    display: inline-flex;
    margin: 3px 5px;
    color: #353535;

    transition: border-color 0.3s;
    /* Transición suave para el cambio de color del borde */

}

/* Cambia el color del borde inferior al hacer hover */
header #item-hover:hover {
    border-color: #FBBB3D;
    color: #000;

    /* Color del borde inferior al hacer hover */
}

/* Mantiene el color del borde inferior al hacer clic */
header #item-hover:active {
    border-color: #FBBB3D;
    color: #000;

    /* Color del borde inferior al hacer clic */
}

img {
    width: 25px;
    height: auto;
}

header .text{
    justify-content: flex-end;
    flex-direction: column;
    font-size: 10px;
    font-weight: 400;
    font-family: Inter;
    letter-spacing: 1.15px;
    gap:0;
    word-wrap: break-word;
    text-align: left;
    display: inline-flex;
    align-items: baseline;

}

footer {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    border-top: 2px #264094 solid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    z-index: 90;
}

footer .container {
    padding: 2px 33px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

footer h6 {
    text-align: center;
    color: black;
    font-size: 14px;
    font-family: Questrial;
    font-weight: 400;
    line-height: 10px;
    word-wrap: break-word;
}

/* Media Query para dispositivos móviles (teléfonos) */
@media screen and (max-width: 767px) {
    header .text{
        visibility: hidden;
    }
}