.fondo-home {
    width: 100%;
    height: auto;
    padding: 0rem;
    flex-direction: column;
    background-image: url(../images/StemGuardas.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}
.todo-criterios {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    margin: 5%;
    width: auto;
    flex-wrap: wrap;
    gap: 3%;
}
/* Estilo para el contenedor de criterios */
.contenedor-criterios h1 {
    color: #E61A55; 
}
.contenedor-criterios {
    border-radius: 30px;
    background: #FFF;
    text-align: center;
}



  /* Estilo para la lista no ordenada <ul> dentro de la clase "criterios" */
.criterios ul {
    list-style: none; /* Eliminar los puntos de la lista */
    padding: 0; /* Eliminar el espacio interior en la lista */
    display: flex; /* Hacer que los elementos de la lista sean flexibles */
    flex-direction: column; /* Cambiar la dirección a columna */
    align-items: center; /* Centrar los elementos verticalmente */
}

  /* Estilo para cada elemento <li> dentro de la clase "criterios" */
.criterios li {
    margin: 10px 0; 
    padding: 10px;
    border: 3px solid #ccc; 
    border-radius: 35px; 
    width: 150px; 
    height: 150px; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: center;
}

  /* Estilo para las imágenes dentro de cada elemento <li> */
.criterios li img {
    max-width: 50px;
}

  /* Estilo para los enlaces dentro de cada elemento <li> */
.criterios li a {
    text-decoration: none; /* Eliminar subrayado de los enlaces */
    color: #333; /* Cambiar el color del texto del enlace */
}

  /* Estilo para los enlaces cuando se pasan por encima con el cursor */
.criterios li:hover {
    border-color: #FBBB3D;
}


/* ---------------------------------------LIBRO-------------------------------------- */
.libro{
    /* margin: 5em; */
    max-width: 284px;
    min-width: 284px;
    min-height:648px;
    max-height:648px;
}

.container-sect2 {
    height: auto;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 284px;
    min-width: 284px;
    max-height:648px;
}



.container2 {
    border-radius: 25px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

#section2 .img-book {
    width: 284px;
    height: 376px;
    border-radius: 25px;
}

.container3 {
    align-self: stretch;
    height: auto;
    padding: 30px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    display: flex;
}

#section3 .text {
    align-self: stretch;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

#section3 p {
    flex: 1 1 0;
    text-align: right;
    color: black;
    font-size: 15px;
    font-family: Questrial;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word;
    flex: 1 1 0;
}

#section2 .buttons {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
    display: flex;
}

#section2 .buttons2 {
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
}

.button1 {
    padding: 5px 20px;
    background: #264094;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: Inter;
    font-weight: 600;
    line-height: 30px;
    word-wrap: break-word;
}

.button2 {
    text-align: right;
    color: #264094;
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    line-height: 30px;
    word-wrap: break-word;
}

.cnt {
    width: 100%;
    padding: 5px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50px;
    border: 1.5px #264094 solid;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
}

.cntt {
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cnt-item {
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.c1 {
    width: 36px;
    height: 32px;
    border-radius: 25px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}

.btn-icon {
    flex: 1 1 0;
    align-self: stretch;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

#iconManual {
    width: 27px;
    height: 19px;
}

---------------------media-----------------------

.fondo-home {
    padding: 520rem 10rem; 
}

.todo-criterios {
    flex-direction:row;
}

.contenedor-criterios {
    min-width: 41%; /* Reduce el ancho mínimo del contenedor principal */
    max-width: 41%; /* Reduce el ancho máximo del contenedor principal */
    /* margin: 15px; */
    padding: 9%;  /* Centra el contenedor en la pantalla */
}

.criterios li {
    width: 200px; 
}

  /* Media query para pantallas de tabletas en orientación vertical (768px x 1024px) */

@media (max-width: 768px) and (min-width: 1024px) {
.fondo-home {
    padding: 2rem; 
}

.todo-criterios {
    flex-direction: column;
}

.contenedor-criterios {
    min-width: 100%; 
    max-width: 100%; 
}

.criterios li {
    width: 100%; 
}


/* Estilos para pantallas pequeñas (menos de 768px) */

@media (max-width: 767px) {

.fondo-home {
    padding: 1rem;
}

.todo-criterios {
    flex-direction:column-reverse;
}

.contenedor-criterios {
    min-width: 100%; 
    max-width: 100%; 
}

.criterios li {
    width: 100%; 
}
}
}