button {
    text-align: center;
    color: white;
    font-size: 17px;
    font-family: Inter;
    font-weight: 600;
    line-height: 30px;
    word-wrap: break-word;
    padding: 10px 25px;
    background: #264094;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background-color:rgba(0, 16, 67, 0.4);
    z-index: 1;
    visibility: hidden;
}

.popup-content {
    margin: auto;
    width: 60%;
    max-width: 600px;
    max-height: 90%;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFF;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
}

.popup-content h2 {
    font-size: 25px;
    font-weight: 500;
}

.close {
    cursor: pointer;
    justify-content: center;
    place-items: center;
}



/* .close:hover {
    background-color: hsl(226, 59%, 40%);
} */


