#main {
    width: 100%;
    height: auto;
    padding: 0;
    flex-direction: column;
    background-image: url(../images/StemGuardas.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.container-items2 {
    width: 50%;
    height: auto;
    padding: 30px 0 30px 30px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.sections {
    width: auto;
    height: auto;
    padding: 8%;
    align-self: stretch;
    justify-content: center;
    gap: 5%;
    display: inline-flex;
    flex-wrap: wrap;
}

#section1 {
    width: auto;
    flex: 1 1 0;
    align-self: stretch;
    padding: 15%;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
}

#section2 {
    background: rgba(38, 64, 148, 0);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
    width: auto;
    height: fit-content;
}

/* Media Query para dispositivos móviles (teléfonos) */
@media screen and (max-width: 767px) {
    #section1 {
        padding: 10px; /* Reduzco el espaciado en dispositivos móviles */
    }
    .sections {
        gap: 1%;
    }
}

/* Media Queries para tablet */
@media screen and (min-width: 768px) {
    #section1 {
        padding: 30px; /* Aumenta el espaciado en tabletas y pantallas más grandes */
        margin: 0 8%;
    }
}
/* Media Queries PC */
@media screen and (min-width: 1024px) {
    #section1 {
        margin: 0 10%;
    }

}

h1 {
    padding: 0  15px 15px 15px;
    width: auto;
    text-align: center;
    color: #E51954;
    font-size: 26px;
    font-family: Inter;
    font-weight: 800;
    word-wrap: break-word;
}

.form {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.formulario {
    width: 100%;
    height:auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    display: flex;
}

.campo-formulario {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
}

.item {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    align-items: center;
}

input,
select {
    width: 80%;
    border-radius: 50px;
    font-size: 13px;
    font-family: Questrial;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px black solid;
    justify-content: center;
    align-items: center;
}

.input {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    display: flex;
}

.submit {
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: Inter;
    font-weight: 600;
    line-height: 20px;
    word-wrap: break-word;
    padding: 10px 25px;
    background: #264094;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 25
    px;
}

.submit-fucsia {
    text-align: center;
    color: white;
    font-size: 13px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
    padding: 5px 20px;
    background: #E51954;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

/* Pop up */

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background-color:rgba(0, 16, 67, 0.4);
    z-index: 1;
    visibility: hidden;
}

.popup-content {
    margin: auto;
    width: 60%;
    max-width: 600px;
    max-height: 90%;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFF;
    display: grid;
    place-items: center;
    grid-auto-columns: 100%;
}

.popup-content h2 {
    font-size: 22px;
    color: #E51954;
    font-weight: 600;
}

.popup-content p {
    font-size: 13px;
    font-weight: 550;
    color: #FFF;
    text-align: center;
    flex: 1 1 0;
}

.close {
    cursor: pointer;
    justify-content: center;
    place-items: center;
}

.close .close a:active .close a:link{
    text-decoration: none;
}

.close a:hover {
    background-color: hsl(226, 59%, 60%);
}

/* ---------------------------------------- */

.container-sect2 {
    height: auto;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container2 {
    border-radius: 25px;
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
    width: 204px;
}

#section2 .img-book {
    width: 204px;
    height: auto;
    border-radius: 25px;
}

.container3 {
    align-self: stretch;
    height: auto;
    padding: 0 15px 30px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    display: flex;
}

#section3 .text {
    align-self: stretch;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.text {
    align-self: stretch;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    font-weight: 500;
}

p,
label {
    flex: 1 1 0;
    text-align: right;
    color: black;
    font-size: 13px;
    font-family: Questrial;
    line-height: 20px;
    word-wrap: break-word;
}

#section2 .buttons {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
    display: flex;
}

#section2 .buttons2 {
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
}

.button1 {
    padding: 5px 15px;
    background: #264094;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-family: Inter;
    font-weight: 600;
}

.button2 {
    text-align: right;
    color: #264094;
    font-size: 12px;
    font-family: Inter;
    font-weight: 500;
}

.cnt {
    width: 100%;
    padding: 5px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50px;
    border: 1.50px #264094 solid;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
}


.ccnt {
    width: 100%;
    padding: 5px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50px;
    border: 1.50px #E51954 solid;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
}
.cntt {
    padding: 3px 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cnt-item {
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    display: flex;
    gap: 3px;
}

.c1 {
    width: auto;
    height: auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}

.btn-icon {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

#iconManual{
    width: auto;
    height: 12px;
}


/* ------- */
/* person_responsable_list */

.content-list {
    height: 80%;
    width: 100%;
    padding: 0;
    flex-direction: column;
    background-position: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}