* {
    font-family: Inter;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border-bottom: 4px solid #264094;
    width: 100%;
}


.logo {
    display: flex;
    padding: 0.9375rem 1.875rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
}

#menu {
    display: flex;
    padding: 0rem 6.25rem;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
    row-gap: 0.125rem;
    align-self: stretch;
    flex-wrap: wrap;
}

#item {
    display: flex;
    padding: 1px 15px;
    flex-direction: column;
    border-bottom: 2px #000 solid;
    transition: border 0.3s;
}

#icons img{
    transition: swap 0.3s;
    /* Transición para un cambio suave de color */
}




/* ---------sroll bar------------ */

.tabla-contenedor {
    overflow-x: auto;
    max-width: 100%;
}

table {
    width: auto;
    table-layout: auto;
    border-collapse: collapse; 
    width: 100%; 

}

table td, table th {
        border: 2px solid #FBBB3D;
        padding: 8px; 
        text-align: left; 
}

.margen-contenedor {
    border-radius: 40px;
    width: 169.2vh;
    height: 70%;
    background-color: #fffbe9;
    padding: 0 3rem;
    margin-left: -3.5rem;

}
body {
    margin: 0;
    padding: 0;
}
.fondo {
    background-image:  url(../images/StemGuardas.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    padding: 10rem;
}
th, td {
    min-width: 250px;
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    white-space: wrap; 
}


@media (max-width:600px) {
    th, td {
        max-width: 600px;
        min-height: 300px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px){
    th, td {
        min-width: 200px;
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
        white-space: wrap;
    }
    .margen-contenedor {
        border-radius: 40px;
        width: 50vh;
        height: 70%;
        background-color: #fffbe9;
        padding: 0;
        margin-left: 10px;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }
    h1 {
        font-size:15px;
    }
    
    h2 {
        font-size: 14px;
        font-weight: 600;
        margin-top: 90px;
    }

    hr {
        margin-top: 5px;
        background-color:#264094;
        padding:1.5px;
    }
}


/* ---------título------------ */

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -2rem;
    gap: 0.25rem;
    padding-top: 3rem;
}


.subtitulo {
    display: flex;
    color: #353535;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 38.5px;
    justify-content: space-between;
    vertical-align: baseline;
    margin-bottom: -10px;
}

.titulo-texto {
    display: flex;
    vertical-align:baseline;
    justify-content: baseline;
    align-items: last baseline;
}

hr {
    margin-bottom: 1.8rem;
    background-color:#264094;
    padding:1.5px;
    margin-top: 0;
}


.table-contenedor {
    overflow-x: auto;
    max-width: 100%;
}

table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

table td, table th {
    border: 2px solid #FBBB3D;
    padding: 8px;
    text-align: left;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.margen-contenedor {
    border-radius: 40px;
    width: 100%;
    background-color: #fffbe9;
    padding: 0 2rem;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

hr {
    margin: 1rem 0;
}


@media (max-width: 768px) {
    .margen-contenedor {
        width: 75vh;
        height: 80vw;
        margin-left: -10rem;
    }

    h1 {
        font-size: 16px;
    }

    h2 {
        font-size: 14px;
    }

    .tabla-contenedor {
        padding: 1rem;
    }

    .tabla-contenedor {
        overflow-x: auto;
        max-width: 90%; 
        max-height: 300px; 
        white-space: nowrap; 
    }
    
    .tabla-scroll {
        overflow-x: auto;
    }
    
    table {
        width: auto;
        table-layout: auto;
        border-collapse: collapse;
        white-space: nowrap; /* Evita que el texto se divida en celdas */
        width: 100%;
    }
    
    table td, table th {
        border: 2px solid #FBBB3D;
        padding: 6px;
        text-align: left;
        white-space: wrap; /* Evita que el texto se divida en celdas */
        overflow: hidden;
        text-overflow: ellipsis;
    }
    div.imagen-crear-datos {
        display: flex;
        align-items:end;
        margin-bottom: -9px;
    }
}
