#main {
    width: 100%;
    height: auto;
    padding: 0;
    flex-direction: column;
    background-image: url(../images/StemGuardas.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.container {
    width: 90%; /* Ajusta el ancho al tamaño de la pantalla */
    max-width: 1200px; /* Establece un ancho máximo para mantenerlo manejable en pantallas grandes */
    margin: 0 auto; /* Centra el contenedor en la pantalla */
    height: auto;
    padding: 40px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    display: flex;
}

.container-items {
    width: 80%;
    height: auto;
    padding: 10%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}


.container-items2 {
    width: 50%;
    height: auto;
    padding: 30px 0 30px 30px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.sections {
    width: 100%;
    height: auto;
    padding: 5% 0;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    gap: 10%;
    display: inline-flex;
}

#section1 {
    width: auto;
    flex: 1 1 0;
    align-self: stretch;
    padding: 10%;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
}

#section2 {
    background: rgba(38, 64, 148, 0);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
    width: 284px;
}

/* Media Query para dispositivos móviles (teléfonos) */
@media screen and (max-width: 767px) {
    .container,
    .container-items,
    .sections {
        flex-direction: column; /* Despliega hacia abajo en dispositivos móviles */
    }

    .container {
        padding: 10px;
    }

    .sections {
        padding-top: 10px; /* Reduzco el espacio superior en dispositivos móviles */
        padding-bottom: 10px; /* Reduzco el espacio inferior en dispositivos móviles */
    }

    #section1 {
        padding: 10px; /* Reduzco el espaciado en dispositivos móviles */
    }
}

/* Media Queries para tamaños de pantalla específicos */
@media screen and (min-width: 768px) {
    /* Estilos para tablets y pantallas más grandes */
    .container {
        padding: 20px; 
    }

    .container-items {
        padding-left: 10%;
        padding-right: 10%;
    }

    #section1 {
        padding: 10%; /* Aumenta el espaciado en tabletas y pantallas más grandes */
    }
}

@media screen and (min-width: 1024px) {
    /* Estilos para pantallas de PC */
    .container {
        padding: 40px; /* Aumenta el espaciado en pantallas de PC */
    }

    .container-items {
        padding-left: 5%;
        padding-right: 5%;
    }

    #section1 {
        padding: 10%; /* Aumenta el espaciado en pantallas de PC */
    }
}

.titulo-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8px;
    padding: 15px;
}

.container-icon {
    width: 25px;
    height: 25px;
}

.encabezado {
    display: flex;
    border-bottom: 3px solid #FBBB3D;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding-bottom: 5px;
    padding-top: 25px;
}

h1 {
    height: auto;
    width: auto;
    text-align: center;
    color: #353535;
    text-transform:uppercase;
    font-size: 17px;
    font-family: Inter;
    font-weight: normal;
    word-wrap: break-word;
    display: flex;
    line-height: 8px;
    margin: auto;
    padding: 0%;
}

.form {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.formulario {
    width: 100%;
    height:auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    display: flex;
}

.campo-formulario {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: flex;
    padding: 10px;
}

.textt {
    font-family: inherit;
    font-size:xx-small;
    align-self: stretch;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    letter-spacing: 2px;
    justify-content:flex-start;
    align-items: left;
    gap: 10px;
    display: inline-flex;
    font-weight: 450;
    text-align: left;
}

p,
label {
    flex: 1 1 0;
    color: black;
    font-size: 13px;
    font-family:Questrial;
    font-weight:500;
    line-height: 20px;
    word-wrap: break-word;
}

.cnt {
    width:10cm;
    padding: 5px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    border: 1.50px #0707079b solid;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
}

.cntt {
    padding: 3px 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cnt-item {
    justify-content: flex-start;
    width: 100%;
    align-items: flex-start;
    display: flex;
    gap: 3px;
    text-align: start;
}

.cnt:hover {
    border-color: #E61A55;
}