/* ---------sroll bar------------ */

.tabla-contenedor {
    overflow: auto;
    width: 100%;
}

table {
    width: auto;
    table-layout: auto;
    border-collapse: collapse; 
    width: 100%; 

}

table td, table th {
        border: 2px solid #FBBB3D;
        padding: 8px; 
        text-align: left; 
}

.margen-contenedor {
    border-radius: 40px;
    width: 30%;
    height: 70%;
    background-color: #ffffff;
    padding: 2rem;
    margin: 3rem;
}

body {
    margin-top: 150px;
    padding: 0;
}
.fondo {
    background-image:  url(../images/StemGuardas.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    padding: 3%;
    display: flex;
    justify-content: center;
}
th, td {
    min-width: 250px;
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    white-space: wrap; 
}


@media (max-width:600px) {
    th, td {
        max-width: 600px;
        min-height: 300px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px){
    th, td {
        min-width: 200px;
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
        white-space: wrap;
    }
    .margen-contenedor {
        border-radius: 40px;
        width: 100%;
        height: 70%;
        background-color: #ffffff;
        padding: 2rem;
        margin: 3rem;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size:15px;
    }
    
    h2 {
        font-size: 14px;
        font-weight: 600;
        margin-top: 90px;
    }

    hr {
        margin-top: 5px;
        background-color:#264094;
        padding:1.5px;
    }

    .tabla-contenedor {
        overflow: auto;
        width: 100%;
    }
}


/* ---------título------------ */

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}


.subtitulo {
    display: flex;
    color: #353535;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    justify-content: space-between;
    vertical-align: baseline;
    margin-bottom: -10px;
    align-items: flex-end;
}

.titulo-texto {
    display: flex;
    vertical-align:baseline;
    justify-content: baseline;
    align-items: last baseline;
    margin-left: 15px;
    margin-top: -50px;
}

hr {
    margin-bottom: 1.8rem;
    background-color:#264094;
    padding:1.5px;
    margin-top: 0;
}


.table-contenedor {
    overflow-x: auto;
    max-width: 100%;
}

table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

table td, table th {
    border: 2px solid #FBBB3D;
    padding: 8px;
    text-align: left;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.margen-contenedor {
    border-radius: 40px;
    width: 100%;
    background-color: #ffffff;
    padding: 2rem;
    margin: 3rem;
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

hr {
    margin: 1rem 0;
}

.subtitulo a {
    width: auto;
    height: auto;
}

#imagen-crear-datos img, #imagen-crear-datos{
    width: 120px;
    height: auto;
    margin: 0;
}

@media (max-width: 768px) {
    .margen-contenedor {
        width: 100%;
        height: 90%;
        /* margin-left: -9.3rem; */
    }

    h1 {
        font-size: 16px;
    }

    h2 {
        font-size: 14px;
    }

    .tabla-contenedor {
        padding: 1rem;
    }

    .tabla-contenedor {
        overflow-x: auto;
        max-width: 90%; 
        max-height: 300px; 
        white-space: nowrap; 
    }
    
    .tabla-scroll {
        overflow-x: auto;
    }
    
    table {
        width: auto;
        table-layout: auto;
        border-collapse: collapse;
        white-space: nowrap; /* Evita que el texto se divida en celdas */
        width: 100%;
    }
    
    table td, table th {
        border: 2px solid #FBBB3D;
        padding: 6px;
        text-align: left;
        white-space: wrap; /* Evita que el texto se divida en celdas */
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #imagen-crear-datos {
        display: flex;
        align-items:end;
        margin-bottom: -9px;
    }
}
