* {
    font-family: Inter;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border-bottom: 4px solid #264094;
    width: 100%;
}


.logo {
    display: flex;
    padding: 0.9375rem 1.875rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
}

#menu {
    display: flex;
    padding: 0rem 6.25rem;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
    row-gap: 0.125rem;
    align-self: stretch;
    flex-wrap: wrap;
}

#item {
    display: flex;
    padding: 1px 15px;
    flex-direction: column;
    border-bottom: 2px #000 solid;
    transition: border 0.3s;
}

#icons img{
    transition: swap 0.3s;
    /* Transición para un cambio suave de color */
}

