{% extends "base_general.html" %}

{% block content %}
    <h1> APOYO PEDAGÓGICO PARA EL PERSONAL </h1>
    <table>
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Numeral</th>
                <th>Departamento Responsable</th>
                <th>Persona Responsable</th>
                <th>Año</th>
                <th>Fecha límite</th>
                <th>Fecha de auditoria interna</th>
                <th>Comentarios Auditoria Interna</th>
                <th>Fecha de auditoria externa</th>
                <th>Comentarios Auditoria Externa</th>
                <th>Enlaces</th>
        </tr>
        </thead>
        <tbody>
            {% for apoyoaedagogicoparaelpersonal in ApoyoPedagogicoParaelPersonal_List  %}
            <tr>
                <td>{{apoyoaedagogicoparaelpersonal.codigo}}</td>
                <td>{{apoyoaedagogicoparaelpersonal.numeral}}</h1>
                <td>{{apoyoaedagogicoparaelpersonal.dep_responsable}}</p>
                <td>{{apoyoaedagogicoparaelpersonal.person_responsable}}</p>
                <td>{{apoyoaedagogicoparaelpersonal.track_year}}</p>
                <td>{{apoyoaedagogicoparaelpersonal.track_date}}</p>
                <td>{{apoyoaedagogicoparaelpersonal.internal_auditory_date}}</p>
                <td>{{apoyoaedagogicoparaelpersonal.internal_auditory_obs}}</p>
                <td>{{apoyoaedagogicoparaelpersonal.external_auditory_date}}</p>
                <td>{{apoyoaedagogicoparaelpersonal.external_auditory_obs}}</p>
                </tr>
        {% empty %}
        <tr>
            <td colstran="9">No hay numerales.</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
{% endblock %}