{% extends "base_general.html" %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

{% block content %}


<div class= "titulo">
    <img src="{%static 'images/tabla_detail/icon_docente_admin.svg' %}">
    <h1>4000-PERSONAL DOCENTE Y ADMINISTRATIVO.</h1>
</div>
<div class="subtitulo">
    <h2 style="text-transform:uppercase">4200-DESARROLLO PROFESIONAL INICIAL Y CONTINUO PARA DOCENTES, DIRECTORES DE ESCUELA Y CONSEJEROS PROFESIONALES</h2>
    <a href="/database/desarrollo-profesional-docentes-directores-consejeros-profesionales/new">
        <img src="{%static 'images/crear_datos.svg'%}" alt="Crear datos"></a>
</div>
<div class="tabla-contenedor">
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Numeral</th>
                <th>Departamento Responsable</th>
                <th>Persona Responsable</th>
                <th>Fecha límite de seguimiento</th>
                <th>Fecha de auditoria interna</th>
                <th>Comentarios Auditoria Interna</th>
                <th>Fecha de auditoria externa</th>
                <th>Comentarios Auditoria Externa</th>
                <th>Enlaces</th>
            </tr>
        </thead>
        <tbody>
            {% for desaprofesionaldocentesdirectoresdeescuelaconsejerosprofesionales in DesaProfesionalDocentesDirectoresdeEscuelaConsejerosProfesionales_list %}
            <tr>
                <td>{{desaprofesionaldocentesdirectoresdeescuelaconsejerosprofesionales.codigo}}</td>
                <td>{{desaprofesionaldocentesdirectoresdeescuelaconsejerosprofesionales.numeral}}</h1>
                <td>{{desaprofesionaldocentesdirectoresdeescuelaconsejerosprofesionales.dep_responsable}}</p>
                <td>{{desaprofesionaldocentesdirectoresdeescuelaconsejerosprofesionales.person_responsable}}</p>
                <td>{{desaprofesionaldocentesdirectoresdeescuelaconsejerosprofesionales.track_date}}</p>
                <td>{{desaprofesionaldocentesdirectoresdeescuelaconsejerosprofesionales.internal_auditory_date}}</p>
                <td>{{desaprofesionaldocentesdirectoresdeescuelaconsejerosprofesionales.internal_auditory_obs}}</p>
                <td>{{desaprofesionaldocentesdirectoresdeescuelaconsejerosprofesionales.external_auditory_date}}</p>
                <td>{{desaprofesionaldocentesdirectoresdeescuelaconsejerosprofesionales.external_auditory_obs}}</p>
                <td><a href="{{desaprofesionaldocentesdirectoresdeescuelaconsejerosprofesionales.evidence}}" target="_blank">{{desaprofesionaldocentesdirectoresdeescuelaconsejerosprofesionales.evidence }}</a></td>
            </tr>
        {% empty %}
        <tr>
            <td colstran="9">No hay registros.</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
</div>
{% endblock %}

