{% extends "base_general.html" %}

{% block content %}
    <h1>Desarrollo Profesional Inicial y Continuo para Docentes Directores de Escuela y Consejeros Profesionales </h1>
    <table>
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Numeral</th>
                <th>Departamento Responsable</th>
                <th>Persona Responsable</th>
                <th>Año</th>
                <th>Fecha límite</th>
                <th>Fecha de auditoria interna</th>
                <th>Comentarios Auditoria Interna</th>
                <th>Fecha de auditoria externa</th>
                <th>Comentarios Auditoria Externa</th>
                <th>Enlaces</th>
        </tr>
        </thead>
        <tbody>
            {% for desarrolloprofesionalinicialycontinuoparadocentesdirectoresdeescuelayconsejerosprofesionales in DesarrolloProfesionalInicialyContinuoparaDocentesDirectoresdeEscuelayConsejerosProfesionales_List %}
        <tr>
        <td>{{DesarrolloProfesionalInicialyContinuoparaDocentesDirectoresdeEscuelayConsejerosProfesionales.codigo}}</td>
        <td>{{DesarrolloProfesionalInicialyContinuoparaDocentesDirectoresdeEscuelayConsejerosProfesionales.numeral}}</h1>
        <td>{{DesarrolloProfesionalInicialyContinuoparaDocentesDirectoresdeEscuelayConsejerosProfesionales.dep_responsable}}</p>
        <td>{{DesarrolloProfesionalInicialyContinuoparaDocentesDirectoresdeEscuelayConsejerosProfesionales.person_responsable}}</p>
        <td>{{DesarrolloProfesionalInicialyContinuoparaDocentesDirectoresdeEscuelayConsejerosProfesionales.track_year}}</p>
        <td>{{DesarrolloProfesionalInicialyContinuoparaDocentesDirectoresdeEscuelayConsejerosProfesionales.track_date}}</p>
        <td>{{DesarrolloProfesionalInicialyContinuoparaDocentesDirectoresdeEscuelayConsejerosProfesionales.internal_auditory_date}}</p>
        <td>{{DesarrolloProfesionalInicialyContinuoparaDocentesDirectoresdeEscuelayConsejerosProfesionales.internal_auditory_obs}}</p>
        <td>{{DesarrolloProfesionalInicialyContinuoparaDocentesDirectoresdeEscuelayConsejerosProfesionales.external_auditory_date}}</p>
        <td>{{DesarrolloProfesionalInicialyContinuoparaDocentesDirectoresdeEscuelayConsejerosProfesionales.external_auditory_obs}}</p>

        </tr>
        {% empty %}
        <tr>
            <td colstran="9">No hay numerales.</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
{% endblock %}