{% extends "base_general.html" %}
{% block content %}
<h1> PERSONAL DOCENTE Y ADMINISTRATIVO </h1>
<ul>
<li><a href="{% url 'ProfesionalesAltamenteCalificadosEspecializadosenEducacionSTEM_List' %}">PROFESIONALES ALTAMENTE CALIFICADOS ESPECIALIZADOS EN EDUCACIÓN STEM</a></li>
<li><a href="{% url 'DesarrolloProfesionalInicialyContinuoparaDocentesDirectoresdeEscuelayConsejerosProfesionales_List' %}">DESARROLLO PROFESIONAL INICIAL Y CONTINUO PARA DOCENTES DIRECTORES DE ESCUELA Y CONSEJEROS PROFESIONALES</a></li>
<li><a href="{% url 'ApoyoPedagogicoParaelPersonal_List' %}">APOYO PEDAGÓGICO PARA EL PERSONAL</a></li>
<li><a href="{% url 'SostenibilidadPersonalDocenteyAdministrativo_List' %}">SOSTENIBILIDAD - PERSONAL DOCENTE Y ADMINISTRATIVO</a></li>
</ul>
{% endblock content %}


{% comment %} --subiendo-- {% endcomment %}
