{% extends "base_general.html" %}

{% block content %}
    <h1> PROFESIONALES ALTAMENTE CALIFICADOS ESPECIALIZADOS EN EDUCACIÓN STEM </h1>
    <table>
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Numeral</th>
                <th>Departamento Responsable</th>
                <th>Persona Responsable</th>
                <th>Año</th>
                <th>Fecha límite</th>
                <th>Fecha de auditoria interna</th>
                <th>Comentarios Auditoria Interna</th>
                <th>Fecha de auditoria externa</th>
                <th>Comentarios Auditoria Externa</th>
                <th>Enlaces</th>
        </tr>
        </thead>
        <tbody>
        {% for profesionalesaltamentecalificadosespecializadoseneducacionSTEM in ProfesionalesAltamenteCalificadosEspecializadosenEducacionSTEM_List %}
        <tr>
        <td>{{profesionalesaltamentecalificadosespecializadoseneducacionSTEM.codigo}}</td>
        <td>{{profesionalesaltamentecalificadosespecializadoseneducacionSTEM.numeral}}</h1>
        <td>{{profesionalesaltamentecalificadosespecializadoseneducacionSTEM.dep_responsable}}</p>
        <td>{{profesionalesaltamentecalificadosespecializadoseneducacionSTEM.person_responsable}}</p>
        <td>{{profesionalesaltamentecalificadosespecializadoseneducacionSTEM.track_year}}</p>
        <td>{{profesionalesaltamentecalificadosespecializadoseneducacionSTEM.track_date}}</p>
        <td>{{profesionalesaltamentecalificadosespecializadoseneducacionSTEM.internal_auditory_date}}</p>
        <td>{{profesionalesaltamentecalificadosespecializadoseneducacionSTEM.internal_auditory_obs}}</p>
        <td>{{profesionalesaltamentecalificadosespecializadoseneducacionSTEM.external_auditory_date}}</p>
        <td>{{profesionalesaltamentecalificadosespecializadoseneducacionSTEM.external_auditory_obs}}</p>
        </tr>
        {% empty %}
        <tr>
            <td colstran="9">No hay numerales.</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
{% endblock %}