{% extends "base_general.html" %}

{% block content %}
    <h1> SOSTENIBILIDAD -PERSONAL DOCENTE Y ADMINISTRATIVO </h1>
    <table>
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Numeral</th>
                <th>Departamento Responsable</th>
                <th>Persona Responsable</th>
                <th>Año</th>
                <th>Fecha límite</th>
                <th>Fecha de auditoria interna</th>
                <th>Comentarios Auditoria Interna</th>
                <th>Fecha de auditoria externa</th>
                <th>Comentarios Auditoria Externa</th>
                <th>Enlaces</th>
        </tr>
        </thead>
        <tbody>
            {% for sostenibilidaddocenteadministrativo in SostenibilidadDocenteAdministrativo_List %}
        <tr>
        <td>{{sostenibilidaddocenteadministrativo.codigo}}</td>
        <td>{{sostenibilidaddocenteadministrativo.numeral}}</h1>
        <td>{{sostenibilidaddocenteadministrativo.dep_responsable}}</p>
        <td>{{sostenibilidaddocenteadministrativo.person_responsable}}</p>
        <td>{{sostenibilidaddocenteadministrativo.track_year}}</p>
        <td>{{sostenibilidaddocenteadministrativo.track_date}}</p>
        <td>{{sostenibilidaddocenteadministrativo.internal_auditory_date}}</p>
        <td>{{sostenibilidaddocenteadministrativo.internal_auditory_obs}}</p>
        <td>{{sostenibilidaddocenteadministrativo.external_auditory_date}}</p>
        <td>{{sostenibilidaddocenteadministrativo.external_auditory_obs}}</p>
        </tr>
        {% empty %}
        <tr>
            <td colstran="9">No hay numerales.</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
{% endblock %}