{% extends "base_general.html" %}

{% block content %}
    <h1> SOSTENIBILIDAD -PERSONAL DOCENTE Y ADMINISTRATIVO </h1>
    <table>
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Numeral</th>
                <th>Departamento Responsable</th>
                <th>Persona Responsable</th>
                <th>Año</th>
                <th>Fecha límite</th>
                <th>Fecha de auditoria interna</th>
                <th>Comentarios Auditoria Interna</th>
                <th>Fecha de auditoria externa</th>
                <th>Comentarios Auditoria Externa</th>
                <th>Enlaces</th>
        </tr>
        </thead>
        <tbody>
            {% for sostenibilidadpersonaldocenteyadministrativo in SostenibilidadPersonalDocenteyAdministrativo_List %}
        <tr>
        <td>{{sostenibilidadpersonaldocenteyadministrativo.codigo}}</td>
        <td>{{sostenibilidadpersonaldocenteyadministrativo.numeral}}</h1>
        <td>{{sostenibilidadpersonaldocenteyadministrativo.dep_responsable}}</p>
        <td>{{sostenibilidadpersonaldocenteyadministrativo.person_responsable}}</p>
        <td>{{sostenibilidadpersonaldocenteyadministrativo.track_year}}</p>
        <td>{{sostenibilidadpersonaldocenteyadministrativo.track_date}}</p>
        <td>{{sostenibilidadpersonaldocenteyadministrativo.internal_auditory_date}}</p>
        <td>{{sostenibilidadpersonaldocenteyadministrativo.internal_auditory_obs}}</p>
        <td>{{sostenibilidadpersonaldocenteyadministrativo.external_auditory_date}}</p>
        <td>{{sostenibilidadpersonaldocenteyadministrativo.external_auditory_obs}}</p>
        </tr>
        {% empty %}
        <tr>
            <td colstran="9">No hay numerales.</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
{% endblock %}